name: Prod deploy on stable tag
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # apenas SemVer estável

jobs:
  release:
    permissions: { contents: write }
    runs-on: ubuntu-latest
    concurrency:
      group: prod-${{ github.ref }}
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - uses: actions/setup-node@v4
        with: { node-version: "20" }

      - name: Gerar notas desta versão
        run: |
          if git describe --tags --abbrev=0 >/dev/null 2>&1; then
            npx -y conventional-changelog-cli -p angular -r 1 > RELEASE_NOTES.md
          else
            npx -y conventional-changelog-cli -p angular -r 0 > RELEASE_NOTES.md
          fi

      - name: Publicar GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body_path: RELEASE_NOTES.md
